.wrapper {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  line-height: 18px;
}

.wrapper svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.wrapper[data-type="danger"] {
  color: var(--dangerColor);
  background-color: var(--danger);
}
.wrapper[data-type="warning"] {
  color: var(--warningColor);
  background-color: var(--warning);
}
.wrapper[data-type="success"] {
  color: var(--successColor);
  background-color: var(--success);
}
