.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/*----------------------------------------------- SECTION -------------------------------------------*/
.section {
  width: calc(100% - 300px);
  box-shadow: var(--shadow);
  min-height: calc(100vh - var(--headerHeight));
  background-color: var(--mainBgColor);
  padding: 30px 15px;
}

section.add_section {
  width: 800px;
  margin: 0 auto;
  padding: 30px 15px;
}
section.add_section > div {
  width: 100%;
  max-width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------------------------------------------- SCROLL BUTTON -----------------------------------------------------*/
.to_top {
  position: fixed;
  bottom: 15px;
  right: 10px;
}
.to_top button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--answerColor);
  padding: 10px;
  border-radius: 100%;
  color: var(--color);
  border: none;
  box-shadow: var(--shadow);
}
.to_top button svg {
  width: 30px;
  height: 30px;
}
