.pub_items {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}
.pub_items .pp img {
  border-radius: 100%;
}

.pub_items .pp {
  width: 60px;
  height: 60px;
}

.pub_wrapper {
  width: calc(100% - 60px);
  background-color: var(--overColor);
  box-shadow: var(--lightBoxShadow);
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.pub_wrapper .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pub_wrapper .head span {
  font-size: 13px;
  font-weight: 600;
}

.pub_wrapper .head .uinf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pub_wrapper .head .uinf a {
  font-size: 16px;
  color: var(--linkColor);
  text-decoration: none;
}

.pub_wrapper .msg {
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 20px;
}
.pub_wrapper .gal {
  width: 100%;
  margin: 15px 0 15px 0;
  position: relative;
  border-radius: 5px;
}

.gal img {
  margin-right: 10px;
  border-radius: 5px;
  transition: opacity 200ms ease-in-out;
}
.gal img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pub_wrapper .gal[data-both="true"] img {
  width: 50%;
  height: 150px;
  border-radius: 5px;
}
.pub_wrapper .gal[data-triple="true"] img {
  width: calc(100% / 3);
  height: 150px;
  border-radius: 5px;
}
.pub_wrapper .gal[data-multiple="true"] img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.gal .items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
}
.gal .items::-webkit-scrollbar {
  display: none;
}
.pub_wrapper .gal .items {
  overflow-x: scroll;
}

.gal_indicator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gal_indicator .indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: var(--shadow);
  margin: 10px 5px;
}

@media screen and (max-width: 850px) {
  .pub_items .pp {
    width: 50px;
    height: 50px;
  }
  .pub_wrapper {
    width: calc(100% - 50px);
    margin-left: 5px;
  }
}

@media screen and (max-width: 650px) {
  .pub_items .pp {
    width: 40px;
    height: 40px;
  }
  .pub_wrapper {
    width: calc(100% - 40px);
  }
  .msg > div > div > div {
    padding: 5px;
  }
  .msg p,
  .msg span,
  .msg strong {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 550px) {
  .pub_wrapper .gal[data-triple="true"] img {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .pub_wrapper a {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .pub_items {
    padding: 10px;
  }
}
