.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 13px;
  height: 100%;
}

.container img {
  width: 50px;
  height: auto;
}

.container svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.notifs {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--color);
  font-size: 13px;
  height: 100%;
  font-weight: 600;
}
.notifs svg {
  width: 25px;
  height: 25px;
}
.notifs .nb {
  position: absolute;
  top: 2px;
  right: -5px;
  background-color: var(--alertColor);
  color: rgb(255, 255, 255);
  padding: 2px 6px;
  border-radius: 20px;
  text-align: center;
}

.notifs_container {
  position: relative;
  height: 100%;
  margin-left: 10px;
}

.wrapper {
  position: absolute;
  top: calc(var(--headerHeight) + 5px);
  right: 0;
  background-color: var(--overColor);
  width: 500px;
  height: calc(100vh - var(--headerHeight) - 20px);
  overflow-y: scroll;
  border-radius: 3px;
  box-shadow: var(--shadow);
  z-index: 100;
}

.wrapper .item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 15px;
  color: var(--color);
  transition: background-color 250ms ease-in-out;
}
.wrapper .item:hover {
  background-color: var(--comColor);
}

.wrapper .item img.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.wrapper .item img.thumb {
  width: 120px;
  height: 70px;
  border-radius: 5px;
}
.wrapper .item .det {
  width: calc(100% - 50px);
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper .item .det div {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.wrapper .item .det strong {
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}
.wrapper .item .det span {
  font-size: 14px;
  color: var(--lightColor);
  font-weight: 600;
}

.wrapper .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  color: var(--color);
  border-bottom: 1px solid var(--lightColor);
}
.wrapper .info button {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--primColor);
}
.wrapper .info button svg {
  width: 20px;
  height: 20px;
}
.wrapper .info button span,
.wrapper .info button svg {
  pointer-events: none;
}

.toast_container {
  width: 100%;
}
.toast_container header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 18px;
}
.toast_container header .content {
  width: calc(100% - 80px);
}
.toast_container header .content a {
  color: inherit;
}
.toast_container header .img {
  width: 80px;
  height: 60px;
}
.toast_container header .img img {
  border-radius: 0 5px 0 0;
}
.toast_container footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
.toast_container footer img {
  border-radius: 50%;
}
.toast_container footer a {
  color: var(--linkColor);
  display: block;
  margin-left: 5px;
}

.none {
  width: 100%;
  height: calc(100% - 60px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .wrapper {
    top: calc(-100vh + var(--headerHeight) + 55px);
    right: 15px;
    height: calc(100vh - 2 * var(--headerHeight) - 10px);
  }
}

@media screen and (max-width: 520px) {
  .wrapper {
    right: 0;
    width: 100vw;
    border-radius: 5px 5px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .wrapper .item .det {
    flex-direction: column-reverse;
  }
  .wrapper .item .det div {
    padding-right: 0;
    margin-top: 10px;
  }
}
