.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 13px;
  height: 100%;
}

.container img {
  width: 120px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.container svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
