.bi_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.bi_head h2 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.bi_head span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(244, 251, 255);
}

.sub_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px 12.5px 7.5px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 1.5px solid var(--primColor);
  border-radius: 20px;
  color: var(--primColor);
  letter-spacing: 1px;
  transition: all 250ms ease-in-out;
}

.sub_btn button:hover,
.sub_btn button[data-follow] {
  background-color: var(--primColor);
  color: rgb(69, 54, 27);
  border: none;
}

.sub_btn button svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
