.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  min-height: calc(100vh - var(--headerHeight));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qcm_wrapper {
  width: 100%;
  background-color: var(--comColor);
  padding: 30px 20px 20px 20px;
  border-radius: 7px;
  box-shadow: var(--lightBoxShadow);
  position: relative;
}

.qcm_wrapper > div {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
}
.qcm_wrapper > div div {
  padding: 0;
}

.qcm_item label {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1.19px solid var(--lightColor);
  background-color: var(--mainBgColor);
  margin-bottom: 15px;
  color: var(--lightColor);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.3s ease;
  line-height: 20px;
}
.qcm_item label:hover {
  cursor: pointer;
}

.qcm_item label[data-active="true"] {
  border-color: #1e272e;
  box-shadow: 0 0 10px 5px #94b3c9;
  color: var(--headerBaseColor);
}

.qcm_item input {
  display: none;
}

.qcm_item label > span {
  margin-right: 10px;
  text-transform: uppercase;
}

.qcm_wrapper .btns {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.qcm_wrapper .btns > div {
  margin: 0;
}

.qcm_wrapper .btns > button {
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #e52a68;
  color: #ffd3e1;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}

.nbq,
.time,
.level {
  position: absolute;
  top: 0;
  background-color: inherit;
  z-index: 10;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  transform: translateY(-15px);
}

.nbq {
  left: 0;
  color: var(--acountBorderColor);
}

.level {
  left: 50%;
  transform: translate(-50%, -15px);
  color: var(--testAnswerColor);
  text-transform: uppercase;
  font-size: 13.5px;
  font-weight: 700;
}

.time {
  right: 0;
  color: var(--accountAlertColor);
}

.res_card {
  width: 320px;
  height: 250px;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 0.1rem 1.5rem 0 rgba(26, 26, 34, 0.2);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mainBgColor);
}

.res_card a {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  margin: 15px 0 0 0;
  color: #3a8cd5;
  border-bottom: 1.5px solid transparent;
}
.res_card a:hover {
  border-color: #3a8cd5;
}

.res_card img {
  border-radius: 50%;
}

.res_card svg {
  width: 25px;
  height: 25px;
}

.res_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.res_wrap .res_item {
  width: calc(300px / 3);
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.res_wrap .res_item span {
  padding-top: 3px;
}

.res_wrap .res_item:nth-child(1) {
  color: #3a8cd5;
}

.res_card[data-score-plage="higher"] .res_item:nth-child(2) {
  color: #27bf55;
}
.res_card[data-score-plage="advanced"] .res_item:nth-child(2) {
  color: #6ebf27;
}
.res_card[data-score-plage="medium"] .res_item:nth-child(2) {
  color: #bfb227;
}
.res_card[data-score-plage="failled"] .res_item:nth-child(2) {
  color: #bf6627;
}
.res_card[data-score-plage="null"] .res_item:nth-child(2) {
  color: #bf2727;
}

.res_wrap .res_item:nth-child(3) {
  color: #ffb64e;
}
