.wrapper {
  width: 100%;
  padding: 20px;
  height: 100%;
}

.wrapper .two_items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .two_items > * {
  width: 45%;
}

.wrapper form > fieldset {
  width: 100%;
  border: 1.5px solid var(--lightColor);
  border-radius: 5px;
  margin-bottom: 10px;
}
.wrapper form > fieldset legend {
  font-size: 18px;
  padding: 5px 10px;
  color: var(--color);
}
.wrapper form > fieldset > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
}
.wrapper form > fieldset > div > div {
  margin-right: 15px;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9f9f9;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.question_editor {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.question_list {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question_item {
  position: relative;
  width: 100%;
  background-color: var(--overColor);
  border-radius: 5px;
  max-width: 800px;
  box-shadow: var(--lightShadow);
  padding: 10px;
  margin-top: 30px;
}
.question_item .answer_item {
  background-color: var(--comColor);
  margin: 20px 0 30px 0;
}

.question_item > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.question_item button.answer_action {
  margin: 10px 0 10px 30px;
  padding: 10px;
  color: var(--lightColor);
  font-weight: 600;
  font-size: 15px;
  border: 1.1px solid var(--lightColor);
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.question_item button.answer_action svg {
  width: 20px;
  height: 20px;
  margin-left: 7px;
}

.question_item button {
  margin-left: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.question_item button.quest_edit {
  color: var(--acountBorderColor);
  border: 1.1px solid var(--acountBorderColor);
}
.question_item button.quest_edit:hover {
  color: #f9f9f9;
  background-color: var(--acountBorderColor);
}

.question_item button.quest_delete {
  color: var(--accountAlertColor);
  border: 1.1px solid var(--accountAlertColor);
}
.question_item button.quest_delete:hover {
  color: #f9f9f9;
  background-color: var(--accountAlertColor);
}

.question_item button.answer_btn {
  color: var(--testAnswerColor);
  border: 1.1px solid var(--testAnswerColor);
}
.question_item button.answer_btn:hover {
  color: #f9f9f9;
  background-color: var(--testAnswerColor);
}

.question_pos {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px);
  background-color: inherit;
  padding: 5px 10px;
  font-size: 17px;
  color: var(--acountBorderColor);
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

.answer_list {
  width: 100%;
}
.answer_list .list {
  margin-bottom: 30px;
  padding: 0 20px;
}

div.question_item[data-correct-answer="true"] {
  box-shadow: 0 0px 10px 1px rgba(3, 205, 147, 0.568);
}

.res_list {
  width: 100%;
  min-height: calc(100vh - var(--headerHeight));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.res_list > div {
  margin: 10px;
}

.res_info {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--mainBgColor);
  padding: 20px 15px;
  margin: 15px;
  box-shadow: 0 0.1rem 1.5rem 0 rgba(26, 26, 34, 0.2);
}
.res_info > div {
  width: 320px;
}
.res_info h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.res_info p {
  font-size: 14px;
  color: var(--lightColor);
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding-bottom: 10px;
}
.res_info .stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.res_info .left .stats > span {
  width: max-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightColor);
  border: 1.5px solid var(--lightColor);
  border-radius: 3px;
  margin: 5px;
}
.res_info .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.res_info .right img {
  border-radius: 50%;
}
.res_info .right a {
  text-transform: capitalize;
  font-weight: 600;
  margin: 15px 0 0 0;
  color: #3a8cd5;
  border-bottom: 1.5px solid transparent;
  display: block;
  margin: 7.5px 0;
}
.res_info .right a:hover {
  border-color: #3a8cd5;
}
.res_info .right .stats > span {
  width: max-content;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightColor);
  border: 1.5px solid var(--lightColor);
  border-radius: 3px;
  margin: 5px;
}

@media screen and (max-width: 715px) {
  .res_info {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 670px) {
  .res_info {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .res_info .right {
    margin-top: 25px;
  }
}
