.container {
  width: 100%;
  min-height: calc(100vh - var(--headerHeight));

  --height: 50px;
}

.container header {
  width: 100%;
  height: var(--height);
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}
.container header::-webkit-scrollbar {
  display: none;
}

.container header .blog_item {
  width: max-content;
  height: 40px;
  border-radius: 30px;
  padding: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--overColor);
  box-shadow: var(--shadow);
}
.container header .blog_item img {
  border-radius: 50%;
}
.container header .blog_item span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  color: var(--color);
}

.container fieldset {
  max-width: 1280px;
  margin: 20px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 2px solid var(--answerColor);
  border-radius: 10px;
}
.container fieldset legend {
  font-size: 20px;
  padding: 0 10px;
}
.container fieldset > a,
.container fieldset > div {
  margin: 20px;
}

.container > h2 {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  font-family: ethnocentric;
}
.container .list {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
