.container {
  width: 100%;
  min-height: calc(100vh - var(--headerHeight));

  --height: 60px;
}

.container fieldset {
  max-width: 1280px;
  margin: 20px auto 50px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: none;
}
.container fieldset legend {
  font-size: 18px;
  padding: 0 10px;
  font-family: ethnocentric;
}

.container > h2 {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  font-family: ethnocentric;
}

.list {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list > a {
  margin: 15px;
}

@media screen and (max-width: 470px) {
  .list > a {
    max-width: 350px;
  }
  .list > a h2 {
    font-size: 15px;
  }
  .list > a span {
    font-size: 10px;
    font-weight: 700;
  }
}

@media screen and (max-width: 400px) {
  .list > a {
    margin: 15px;
    max-width: 320px;
  }
  .list > a span {
    margin-top: 5px;
  }
}
