.skeleton {
  --sidebarHeader: 200px;

  width: 100%;
  min-height: calc(100vh - var(--headerHeight));
}

.layout {
  width: 100%;
  min-height: calc(100vh - var(--headerHeight));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  width: 0px;
  overflow: hidden;
  height: calc(100vh - var(--headerHeight));
  background-color: var(--mainBgColor);
  box-shadow: var(--rightShadow);
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  z-index: 1000;
  animation: close-sidebar 0.25s linear forwards;
}
.sidebar[data-active="true"] {
  animation: open-sidebar 0.25s linear forwards;
}

.sidebar nav ul {
  width: 100%;
  margin: 15px 0;
}
.sidebar ul li a {
  width: 200px;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: none;
  border-left: 3px solid transparent;
}
.sidebar ul li a span {
  font-size: 14px;
}
.sidebar ul li a svg {
  margin-right: 10px;
}

@keyframes open-sidebar {
  0% {
    width: 0px;
  }

  100% {
    width: 200px;
  }
}

@keyframes close-sidebar {
  0% {
    width: 200px;
  }

  100% {
    width: 0px;
  }
}

.layout main {
  min-height: calc(100vh - var(--headerHeight));
  width: 100%;
}
