.skeleton {
  --sidebarHeader: 220px;

  width: 100%;
  min-height: calc(100vh - var(--headerHeight));
  position: relative;
}

.layout {
  width: 100%;
  min-height: calc(100vh - var(--headerHeight));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  width: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - var(--headerHeight));
  background-color: var(--mainBgColor);
  box-shadow: var(--rightShadow);
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  z-index: 1000;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar[data-active="true"] {
  animation: open-sidebar 0.25s linear forwards;
}

.sidebar nav {
  margin-top: 30px;
}
.sidebar nav ul {
  width: 100%;
  margin: 15px 0;
}
.sidebar ul li a {
  width: var(--sidebarHeader);
  justify-content: flex-start;
  padding: 10px;
  border-bottom: none;
  border-left: 3px solid transparent;
}
.sidebar ul li a span {
  font-size: 14px;
}
.sidebar ul li a svg {
  margin-right: 10px;
}

@keyframes open-sidebar {
  0% {
    width: 0px;
  }

  100% {
    width: var(--sidebarHeader);
  }
}

.layout main {
  min-height: calc(100vh - var(--headerHeight));
  width: 100%;
}

.theme_toggle_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5em 1em;
  box-shadow: var(--shadow);
  border-radius: 0.3em;
  border: none;
  background-color: var(--themeButtonBgColor);
  color: var(--themeButtonColor);
  transform: scale(1);
  transition: var(--transitionDelay);
}
.theme_toggle_btn svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
  margin-right: 5px;
  fill: var(--themeButtonColor);
}
.theme_toggle_btn:hover {
  transform: scale(1.05);
}

.sun_moon_container {
  --rotation: 0;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  height: 200vmin;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transitionDelay);
}

.sun,
.moon {
  position: absolute;
  width: 30px;
  height: 30px;
  transition: opacity, fill var(--transitionDelay);
}

.sun {
  bottom: 10px;
  opacity: 0;
  fill: var(--primColor);
  transform: rotate(180deg);
}
.sidebar[data-light-theme] .sun {
  opacity: 1;
}

.moon {
  top: 10px;
  opacity: 1;
  fill: #3772c5;
}
.sidebar[data-light-theme] .moon {
  opacity: 0;
}
