.com_container {
  width: 100%;
  padding: 10px;
}

.com_item {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.com_item img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.com_item p {
  font-size: 14px;
  font-weight: 600;
}

.com_item .cwrp {
  width: calc(100% - 40px);
  margin-left: 5px;
  background-color: var(--comColor);
  box-shadow: var(--lightBoxShadow);
  padding: 10px;
  border-radius: 5px;
}
.com_item.answer .cwrp {
  background-color: var(--answerColor);
}
.com_item .cwrp .chd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.com_item .cwrp .chd a {
  color: var(--linkColor);
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
}
.com_item .cwrp .chd a:hover {
  text-decoration: underline;
}
.com_item .cwrp .chd span {
  font-size: 12px;
  font-weight: 600;
}
.com_item .cwrp .chd > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.com_item .cwrp .chd svg {
  width: 16px;
  height: 16px;
  color: #fff;
}
.com_item .cwrp .chd button {
  background-color: transparent;
  border: none;
  padding: 5px 7.5px;
  transform: translateX(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: opacity 0.3s ease-in-out;
}
.com_item .cwrp .chd button:hover {
  opacity: 0.5;
}
.com_item .cwrp .chd .actions button:first-child {
  background-color: #0e60be;
  color: #eaf5ff;
}
.com_item .cwrp .chd .actions button:last-child {
  background-color: #be0e0e;
  color: #ffeaea;
  margin-left: 5px;
}

.com_item .cwrp .cbd {
  line-height: 20px;
  margin-top: 10px;
}
.com_item .cwrp .cbd > div > div > div {
  padding: 0;
}
.com_item .cwrp .cbd > div > div > div * {
  color: var(--color) !important;
  font-size: 14px;
  font-weight: 500;
}
.com_item .cwrp .cbd > div > div > div a {
  color: var(--linkColor) !important;
}
.com_item .cwrp .cft {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 20px;
}
.com_item .cwrp .cft button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  padding-right: 7px;
  outline: none;
}
.com_item .cwrp .cft > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.com_item .cwrp .cft > div button {
  margin-right: 1px;
}
.com_item .cwrp .cft button svg {
  width: 18px;
  height: 18px;
  pointer-events: none;
}
.com_item .cwrp .cft button span {
  font-size: 12px;
  font-weight: 600;
  pointer-events: none;
}
.com_item .cwrp .cft button.com_btn {
  color: var(--linkColor);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.com_item .cwrp .cft button.com_btn span {
  font-weight: 600;
  margin-right: 5px;
}
.com_item .cwrp .cft button.com_btn:hover {
  text-decoration: underline;
}

.response_form {
  margin-top: 10px;
}

.add_comment {
  margin-top: 20px;
}

.like_btn,
.clap_btn {
  transition: opacity 200ms ease-in-out;
}
.like_btn:hover,
.clap_btn:hover {
  opacity: 0.6;
}

button.like_btn[data-active="true"] {
  color: var(--linkColor) !important;
}
button.clap_btn[data-active="true"] {
  color: var(--primColor) !important;
}

.ret_btn {
  display: none;
}

.edit_wrap {
  width: 100%;
}
.edit_wrap > div:last-child {
  margin-top: 5px;
}
.edit_wrap > div:last-child button {
  padding: 7.5px 10px;
  border: none;
  border-radius: 2px;
  transition: opacity 0.3s ease-in-out;
}
.edit_wrap > div:last-child button:hover {
  opacity: 0.8;
}
.edit_wrap > div:last-child button:first-child {
  background-color: #eb7c7c;
  margin-right: 5px;
}
.edit_wrap > div:last-child button:last-child {
  background-color: #8cbcf3;
}

@media screen and (max-width: 450px) {
  .com_item .cwrp .chd a {
    font-size: 14px;
  }
  .com_item .cwrp .chd span {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .com_container {
    position: fixed;
    z-index: 100;
    top: var(--headerHeight);
    left: 0;
    background-color: var(--overColor);
    height: calc(100vh);
    overflow-y: scroll;
    padding: 7px 7px 200px 7px;
  }
  .com_container::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  .ret_btn {
    width: 100%;
    display: block;
  }
  .ret_btn button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    color: var(--linkColor);
  }
  .ret_btn button svg,
  .ret_btn button span {
    pointer-events: none;
  }
  .ret_btn button svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .ret_btn button span {
    font-size: 17px;
    font-weight: 600;
  }
}
