.container {
  width: 100%;
  margin: 10px 0 5px 0;
}

.container .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container .btns > button,
.container .btns > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px 12.5px;
  font-weight: 600;
  border-radius: 2px;
}
.container .btns > button svg,
.container .btns > a svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.container .btns button {
  background-color: #0e60be;
  color: #eaf5ff;
  border: none;
}

.container .btns > a {
  background-color: var(--primColor);
  color: #3e291c;
  border: none;
  margin-left: 20px;
}
