.foot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.foot button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  color: inherit;
  font-weight: 600;
  color: inherit;
  transition: opacity 200ms ease-in-out;
}
.foot button svg {
  width: 20px;
  height: 20px;
}
.foot button svg,
.foot button span {
  pointer-events: none;
}
.foot > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.foot button:hover {
  opacity: 0.6;
}
button.like[data-active="true"] {
  color: var(--linkColor);
}
button.clap[data-active="true"] {
  color: var(--primColor);
}

button.com_stat {
  cursor: default;
}

.statistics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid var(--postBorderColor);
  border-bottom: 1.5px solid var(--postBorderColor);
  padding: 10px;
}

.statistics .stats_items {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .statistics .stats_items {
    font-size: 13px;
    font-weight: 600;
  }
  .statistics {
    padding: 10px 0;
  }
}

@media screen and (max-width: 375px) {
  .statistics .stats_items {
    font-size: 11px;
  }
}
