.foot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  color: inherit;
  font-weight: 600;
  color: inherit;
  transition: opacity 200ms ease-in-out;
}
.foot button svg {
  width: 20px;
  height: 20px;
}
.foot button svg,
.foot button span {
  pointer-events: none;
}
.foot > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button.clap:hover,
button.like:hover {
  opacity: 0.6;
}
button.like[data-active="true"] {
  color: var(--linkColor);
}
button.clap[data-active="true"] {
  color: var(--primColor);
}

button.com_stat {
  cursor: default;
}

button.com_btn {
  color: var(--linkColor);
  font-size: 13px;
  text-decoration: underline;
  transition: color 200ms ease-in-out;
  width: min-content;
}
button.com_btn:hover {
  color: var(--secondary);
}
