.container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container a span {
  margin-top: 2px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper li {
  list-style-type: none;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--mainBgColor);
    border-top: 1px solid rgb(177, 175, 190);
  }
  .container ul {
    width: 100%;
    justify-content: space-between;
  }
  .container svg {
    width: 20px;
    height: 20px;
  }
  .container a span {
    font-size: 13px !important;
    margin-top: 3px;
  }

  .container ul.wrapper li a {
    border-top: 2px solid transparent;
    border-bottom: 0;
  }
}
